<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bhagavad Gita</title>
    <link rel="stylesheet" href="css/style.css">
    <meta name="description" content="Find the wisdom you seek easily by searching chapters and verses from Bhagavad Gita.">
</head>
<body>
    <div class="main">
        <h1>Bhagavad Gita</h1>
        
        <div class="card">
            
            <p>There are total 18 chapters and 700 verses in Gita</p>
            <form action="/" method="post">
                <label for="chapter">
                    Chapter :  
                </label>
                <input type="text" name="chapter" placeholder="Chapter"><br><br>
                <label for="verse">
                    Verse   :
                </label>
                <input type="text" name="verse" placeholder="Verse"><br><br>
                <button type="submit">Enlighten</button>
            </form>
        </div>
        <div class="footer">
            <h3>&copy; Jetlin karkha</h3>
        </div>
    </div>
</body>
</html>